<%- include('templates/header') %>
      <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="70"></th>
                        <th>Titulo</th>
                        <th width="200">Solicitante</th>
                        <th width="200">Organização</th>
                        <th width="300">Responsável</th>
                        <th width="150">Grupo</th>
                        <th width="50">Atualização</th>
                        <th width="150">Quem Atuou</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="border-right: none;">-</td>
                        <td style="border-right: none;border-left: none;">Tiger Nixon</td>
                        <td style="border-right: none;border-left: none;">System Architect</td>
                        <td style="border-right: none;border-left: none;">Edinburgh</td>
                        <td style="border-right: none;border-left: none;">61</td>
                        <td style="border-right: none;border-left: none;">2011/04/25</td>
                        <td style="border-right: none;border-left: none;">$320,800</td>
                        <td style="border-left: none;">$320,800</td>
                      </tr>
                      <tr>
                        <td style="border-right: none;">-</td>
                        <td style="border-right: none;border-left: none;">Tiger Nixon</td>
                        <td style="border-right: none;border-left: none;">System Architect</td>
                        <td style="border-right: none;border-left: none;">Edinburgh</td>
                        <td style="border-right: none;border-left: none;">61</td>
                        <td style="border-right: none;border-left: none;">2011/04/25</td>
                        <td style="border-right: none;border-left: none;">$320,800</td>
                        <td style="border-left: none;">$320,800</td>
                       </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->
<%- include('templates/footer') %>